<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/lagging.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@400&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="head" class="header"><text id="header">FASHIONOPOLIS</text></div>
    <div style="margin-top: 130px;">
        <label  style="margin-left:100px;font-size: 40px;font-family: sans-serif;">E-commerce Site:</label>
        <text style="margin-left:5px;font-size: 40px;font-weight: bold;font-family: Nixie One,cursive;color:#9c0e52">{{site}}</text>
        <label  style="margin-left:300px;font-size: 40px;font-family: sans-serif;">Garment:</label>
        <text style="margin-left:5px;font-size: 40px;font-weight: bold;font-family: Nixie One,cursive;color:#9c0e52">{{garment}}</text>
    </div>
    <div class="content" style="margin-top: 30px;">
        <text style="font-size: 30px;font-family: sans-serif;margin-left: 30px;">LAGGING PRODUCTS</text>
    </div>
    {%for i in range(len)%}
    <table id="table" aria-colcount="5">
        <tr>
            <div style="margin-top: 30px">
                <label  style="margin-left:30px;font-size: 25px;font-family: sans-serif;">Colour:</label>
                <text style="margin-left:5px;font-size: 25px;font-family: 'Recursive', sans-serif;color:#9c0e52;">{{keyword_lag[i][0]}}</text>
                <label  style="margin-left:30px;font-size: 25px;font-family: sans-serif;">Brand:</label>
                <text style="margin-left:5px;font-size: 25px;font-family: 'Recursive', sans-serif;color:#9c0e52;">{{keyword_lag[i][1]}}</text>
                <label  style="margin-left:30px;font-size: 25px;font-family: sans-serif;">Material:</label>
                <text style="margin-left:5px;font-size: 25px;font-family: 'Recursive', sans-serif;color:#9c0e52;">{{keyword_lag[i][2]}}</text>
                <label  style="margin-left:30px;font-size: 25px;font-family: sans-serif;">Attribute:</label>
                <text style="margin-left:5px;font-size: 25px;font-family: 'Recursive', sans-serif;color:#9c0e52;">{{keyword_lag[i][3]}}</text>
                <td><a href="{{url_lag[i][1]}}" download><img src="{{url_lag[i][1]}}" id="image"></td>
                <td><a href="{{url_lag[i][2]}}" download><img src="{{url_lag[i][2]}}" id="image"></td>
                <td><a href="{{url_lag[i][3]}}" download><img src="{{url_lag[i][3]}}" id="image"></td>
                <td><a href="{{url_lag[i][4]}}" download><img src="{{url_lag[i][4]}}" id="image"></td>
                <td><a href="{{url_lag[i][5]}}" download><img src="{{url_lag[i][5]}}" id="image"></td>
            </div>
        </tr>
    </table>
    {%endfor%}
    <div class="content" style="margin-top: 30px;">
        <text style="font-size: 30px;font-family: sans-serif;margin-left: 30px;">SALES DATA UNAVAILABLE</text>
    </div>
    {%for i in range(len_nodata)%}
    <table id="table" aria-colcount="5">
        <tr>
            <div style="margin-top: 30px">
                <label  style="margin-left:30px;font-size: 25px;font-family: sans-serif;">Attribute:</label>
                <text style="margin-left:5px;font-size: 25px;font-family: 'Recursive', sans-serif;color:#9c0e52;">{{keyword_nodata[i]}}</text>
                <td><a href="{{url_nodata[i][1]}}" download><img src="{{url_nodata[i][1]}}" id="image"></td>
                <td><img src="/static/stylesheets/pics/sad.png" id="sad"></td>
                <td><img src="/static/stylesheets/pics/sad.png" id="sad"></td>
                <td><img src="/static/stylesheets/pics/sad.png" id="sad"></td>
                <td><img src="/static/stylesheets/pics/sad.png" id="sad"></td>
            </div>
        </tr>
    </table>
    {%endfor%}
    <script>
        // When the user scrolls the page, execute myFunction
        window.onscroll = function() {myFunction()};
        // Get the header
        var header = document.getElementById("head");
        // Get the offset position of the navbar
        var sticky = header.offsetTop;
        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } 
            else {
                header.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>
